{% extends 'base.html' %}
{% block title %}{{post.title|title}}{% endblock %}
{% block content%}
<div class="container" text-color=white>
      <h3>{{post.title|title}}</h3>
      <p>Published on {{post.publish}} by {{Post.author|title}}</p>
      {{post.body|linebreaks}}
      <a href="/{{post.id}}/share" class="btn btn-primary">Send by email</a>
      {% with comments.count as comments_count %}
      <h2>{{ comments_count}}comments:{{comments_counter|pluralize}}</h2>
      {% endwith %}
      {% if comments %}
        {% for comment in comments %}
          <p>Comments{{forloop.counter}} by {{comment.name}} on {{comment.Created}}</p>
          <p>{{comment.body|linebreaks}}</p>
          {% endfor %}
          {% else %}
            <h2>There is no comment....</h2>
        {% endif %}
        {%if csubmit%}
          <h2>Comment added successfully</h2>
          {%else%}
          <form  method="post">
            {{form.as_p}}
            {% csrf_token %}
            <input type="submit" value="Submit Comment">
          </form>
          {% endif %}
        </div>
{% endblock %}
